{sub_dirs, [
    "rel1"
]}.


{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "ct"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "ct/logs"}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-boot start_sasl -s myapp"}.

%% Option to use short names (i.e., -sname test) when starting ct
{ct_use_short_names, true}.

{deps, [
    {erlzmq, ".*", {git, "git://github.com/zeromq/erlzmq2.git", "master"}},
    {lager, ".*", {git, "https://github.com/erlang-lager/lager", "master"}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
    {emqttc, ".*", {git, "git://github.com/macpie/emqttc.git", "master"}},
    {msgpack, ".*",{git, "git://github.com/msgpack/msgpack-erlang.git", "master"}}
]}.
