$sensity-blue-theme: #008ABF;
$white: #FFFFFF;
$black:#000000;
$light-black:#555555;
$grey-black: #666;
$font-blue:#3688bc;
$light-grey: #CCCCCC;
$lightest-grey:#dedede;
$shade-grey: #ddd;
$shade-light-grey:#eeeeee;
$charcoal: #333333;
$grey: #999999;
$navy-blue:#005B91;
$light-blue:#a9d5de;
$lighter-grey: #ebf4f9;
$light-green: #276f86;
$parrot-green:#3C3;
$pink: #F66;
$bluish-grey:#b0bed9;
$light-green:#25ca47;
$light-orange:#ffb800;
$lighter-blue:#c8ecfc;
$blue:#7CCCFE;

// NEW COLOR SPECS:

$new-light-blue:#cdecfa; // Slickgrid- header search area background color
$new-sites-icon-color:#009ccb; // Text inside the customer grid
$black:#000000;
$fixed-dimming-color:#fedd87;
$daylight-harvesting-color:#b4cff3;
$proximity-dimming-color:#b3a5ef;