{:development {:networkXSSID "SensityDefault"
               :networkXSecurity "wpa2p"
               :networkXPasskey "netsense"
               :networkYSSID "SensityQA01"
               :networkYSecurity "wpa2p"
               :networkYPasskey "kentspeed"
               :server "{{legacy-fqdn}}"}
 :production {:networkXSSID "SensityDefault"
              :networkXSecurity "wpa2p"
              :networkXPasskey "netsense"
              :networkYSSID "SensityQA01"
              :networkYSecurity "wpa2p"
              :networkYPasskey "kentspeed"
              :server "{{legacy-fqdn}}"}
 :test       {:networkXSSID "SensityDefault"
              :networkXSecurity "wpa2p"
              :networkXPasskey "netsense"
              :networkYSSID "SensityQA01"
              :networkYSecurity "wpa2p"
              :networkYPasskey "kentspeed"
              :server "{{legacy-fqdn}}"}
 :docker     {:networkXSSID "SensityDefault"
              :networkXSecurity "wpa2p"
              :networkXPasskey "netsense"
              :networkYSSID "SensityQA01"
              :networkYSecurity "wpa2p"
              :networkYPasskey "kentspeed"
              :server "legacy_dns"}}
