MATCH (c:Config {configid: "{{configid}}"})
REMOVE c:Inactive
WITH { props } AS props, c
UNWIND props.nodeids AS nodeid
    MATCH (s:Site {siteid: "{{siteid}}"})-[:HAS]->(n:Node {nodeid: nodeid})
    OPTIONAL MATCH (:Config)-[old:BELONGS_TO|HAS]-(n)
    DELETE old
    MERGE (n)-[:HAS]->(c)
    MERGE (c)-[:BELONGS_TO]->(n)
RETURN COLLECT( DISTINCT {
    nodeid: n.nodeid,
    model: n.model
}) AS nodes