MATCH (f:Firmware {firmwareid:"{{firmwareid}}"})
WITH { props } AS props, f
UNWIND props.nodeids AS nodeid
    MATCH (n:Node {nodeid: nodeid})
    OPTIONAL MATCH (:Firmware)-[oldHas:HAS]->(n)-[oldBelongs:BELONGS_TO]->(:Firmware)
    DELETE oldHas, oldBelongs
    MERGE (n)-[:BELONGS_TO]->(f)
    MERGE (f)-[:HAS]->(n)
    SET n.firmwareUpdateAttempt = timestamp()
RETURN {
    firmwareid: f.firmwareid,
    nodeids: COLLECT({
        nodeid: n.nodeid,
        model: n.model
    })
} AS result
