MATCH (o:Org {orgid: "{{orgid}}"})
CREATE (u:User:Active {
    userid: "{{userid}}",
    name: "{{name}}",
    email: "{{email}}",
    phone: "{{phone}}",
    title: "{{title}}",
    roles: "{{roles}}",
    sites: "{{sites}}",
    created: timestamp() ,
    updated: timestamp()
})
CREATE UNIQUE (u)-[:IS_USER_OF]->(o)
CREATE UNIQUE (o)-[:HAS_USER]->(u)
WITH u
UNWIND["{{roles}}"] AS rolename
MATCH (r:Role {rolename: rolename})
CREATE UNIQUE (u)-[:IS]->(r)
CREATE UNIQUE (r)-[:HAS]->(u)