MATCH (s:Site {siteid: "{{siteid}}"})
CREATE (p:PDProfile { props })
CREATE UNIQUE (p)-[:BELONGS_TO]->(s)
CREATE UNIQUE (p)<-[:HAS]-(s)
RETURN {
   pdprofileid: p.pdprofileid,
   name: p.name,
   description: p.description,
   minLevel: p.minLevel,
   maxLevel: p.maxLevel,
   beginTime: p.beginTime,
   endTime: p.endTime,
   mode: p.mode,
   radius: p.radius,
   detection_duration: p.detection_duration
} as pdprofile
