MATCH(:Node {nodeid: "{{nodeid}}"})-[:BELONGS_TO]->(p:DHProfile)-[:DH]-(n:Node)
OPTIONAL MATCH (p)-[:DH {trigger: true}]-(triggers:Node)
WITH {
        nodeid: n.nodeid
} AS controllers,
{
        nodeid: triggers.nodeid
} AS triggers,
{
    dhprofileid: p.dhprofileid,
    setPoint: p.setPoint,
    gain: p.gain,
    resetTime: p.resetTime,
    minDrive: p.minDrive,
    maxDrive: p.maxDrive,
    slewRate: p.slewRate
} AS profile
RETURN controllers, triggers, profile
