MATCH(f:Firmware)
OPTIONAL MATCH (f)-[:HAS]->(n:Node)

RETURN {
    firmwareid: f.firmwareid,
    name: f.name,
    release: f.release,
    released: f.released,
    commit: f.commit,
    deprecated: f.deprecated,
    version: f.version,
    checksum: f.checksum,
    model: f.model,
    builder: f.builder,
    build_date: f.build_date,
    image_size: f.image_size,
    nodes: CASE WHEN n IS NOT NULL THEN COLLECT({nodeid: n.nodeid, name: n.name}) ELSE [] END
} AS items