MATCH (s:Site {siteid:"{{siteid}}"})-[:HAS]->(o:Overlay) RETURN {
fileName: o.fileName,
description: o.description,
users: o.users,
overlayid: o.overlayid,
imageBounds: o.imageBounds,
imageData: o.imageData,
imageType: o.imageType,
buildingLevel: o.buildingLevel
} AS items
