MATCH(f:Fixture:Active {fixtureid:"{{fixtureid}}"})
OPTIONAL MATCH (s:Site:Active)-[:HAS]->(f)
RETURN {
name: f.name,
fixtureid: f.fixtureid,
fixtureType: f.fixtureType,
MaxPower0: f.MaxPower0,
MaxPower10: f.MaxPower10,
MaxPower50: f.MaxPower50,
MaxPower100: f.MaxPower100,
MinPower100: f.MinPower100,
MinPower50: f.MinPower50,
MinPower10: f.MinPower10,
MinPower0: f.MinPower0,
PowerDraw: f.PowerDraw,
nemasocket: f.nemasocket,
description: f.description,
manufacturer: f.manufacturer,
manufacturersku: f.manufacturersku,
MinimumLightLevelForFailureDetection: f.MinimumLightLevelForFailureDetection,
BallastCost: f.BallastCost,
BulbCost: f.BulbCost,
LegacyPowerDraw: f.LegacyPowerDraw,
DailyOperatingTime: f.DailyOperatingTime,
site: s.siteid
} AS fixture
