MATCH (f:Firmware {firmwareid: "{{firmwareid}}"})
RETURN {
    firmwareid: f.firmwareid,
    name: f.name,
    model: f.model,
    release: f.release,
    released: f.released,
    commit: f.commit,
    deprecated: f.deprecated,
    version: f.version,
    checksum: f.checksum,
    builder: f.builder,
    build_date: f.build_date,
    image_size: f.image_size
} AS firmware
