MATCH(o:Overlay {overlayid:"{{overlayid}}"})
RETURN {
overlayid: o.overlayid,
fileName: o.fileName,
description: o.description,
users: o.users,
imageBounds: o.imageBounds,
imageData: o.imageData,
imageType: o.imageType,
buildingLevel: o.buildingLevel
} AS overlay
