MATCH (s:Site {siteid:"{{siteid}}"})-[:HAS]->(n:Notification:Active { name: "{{name}}"})
OPTIONAL MATCH (n)-[:SEND_EMAIL]->(se:User)
OPTIONAL MATCH (n)-[:SEND_SMS]->(su:User)
WITH n, su, se, s
ORDER BY n.notificationid
RETURN {
    notificationid: n.notificationid,
    name: n.name,
    description: n.description,
    rules: n.rules,
    window: n.window,
    hold_off: n.hold_off,
    resend_interval: n.resend_interval,
    smsUsersList: COLLECT(DISTINCT su.userid),
    emailUsersList: COLLECT(DISTINCT se.userid),
    active: n.active,
    additionalEmails: n.additionalEmails,
    msg: n.msg,
    notificationtype: n.notificationtype,
    severity: n.severity,
    rule_selector: n.rule_selector,
    scope: s.siteid,
    created: n.created,
    updated: n.updated
} AS items