MATCH (s:Site {siteid:"{{siteid}}"})-[:HAS]->(n:Node:Active)
OPTIONAL MATCH (n)-[:BELONGS_TO]->(f:Fixture)
RETURN {
nodeid: n.nodeid,
name: n.name,
model: n.model,
latitude: n.latitude,
longitude: n.longitude,
altitude: n.altitude,
building: n.building,
level: n.level,
fixtureid: f.fixtureid
} AS items
