MATCH (s:Site {siteid: "{{siteid}}"})-[:HAS]->(n:Notification {notificationid:"{{notificationid}}"})
OPTIONAL MATCH (n)-[:SEND_SMS]->(su:User)
OPTIONAL MATCH (n)-[:SEND_EMAIL]->(se:User)
OPTIONAL MATCH (n)-[:BELONGS_TO]->(s:Site)
WITH su, se, n, s
ORDER BY n.nodeid
RETURN {
    notificationid: n.notificationid,
    rules: n.rules,
    window: n.window,
    hold_off: n.hold_off,
    resend_interval: n.resend_interval,
    smsUsersList: COLLECT(DISTINCT su.userid),
    emailUsersList: COLLECT(DISTINCT se.userid),
    additionalEmails: n.additionalEmails,
    active: n.active,
    msg: n.msg,
    name: n.name,
    description: n.description,
    notificationtype: n.notificationtype,
    severity: n.severity,
    rule_selector: n.rule_selector,
    scope: s.siteid,
    created: n.created,
    updated: n.updated
} AS notification
