WITH { props } AS props
MATCH (n:Node {nodeid: props.nodeid})
OPTIONAL MATCH (n)-[:BELONGS_TO]->(s:Site)-[:BELONGS_TO]->(o:Org)
OPTIONAL MATCH (sch:Schedule)-[:HAS]->(n)
OPTIONAL MATCH (c:Config)-[:BELONGS_TO]->(n)
OPTIONAL MATCH (s:Site)-[:HAS]-(pg:ParkingGroup)
RETURN DISTINCT {
    nodeid: n.nodeid,
    nodelabels: labels(n),
    siteid: s.siteid,
    sitelabels: labels(s),
    orgid: o.orgid,
    parkinggroups: COLLECT(DISTINCT { pgid: pg.parkinggroupid, zones: pg.parkingzones }),
    scheduleid: sch.scheduleid,
    configid: c.configid
} AS data
