debugmode: {{debugmode}}   /* bool: true or false*/
network.x.security: {{network_x_security}}   /*e.g."wpa2p"*/
network.x.security.psk: {{network_x_security}} /*"iamhappy123"*/
network.x.ssid: {{network_x_ssid}} /*"Jetstream"*/
ota.disable: {{ota_disable}} /*false*/
sensor.T.dint: 30000 /*debouncing interval*/
sensor.T.mode: 1
sensor.T.pint: 3600000 /*polling interval */
sensor.aPF.dint: 30000 /* apf - auxiliary power factor */
sensor.aPF.mode: 1
sensor.aPF.pint: 3600000
sensor.ai.dint: 30000 /* ai - auxiliary current */
sensor.ai.mode: 1
sensor.ai.pint: 3600000
sensor.aw.dint: 30000 /* aw - auxiliary power */
sensor.aw.mode: 1
sensor.aw.pint: 600000
sensor.l.dint: 1000 /*l - light */
sensor.l.mode: 1
sensor.l.pint: 30000
sensor.lIR.dint: 30000 /* IR  - Infrared sensor*/
sensor.lIR.mode: 1
sensor.lIR.pint: 3600000
sensor.mPF.dint: 30000 /* m - main, PF - power factor */
sensor.mPF.mode: 1
sensor.mPF.pint: 3600000
sensor.mi.dint: 30000
sensor.mi.mode: 1
sensor.mi.pint: 3600000
sensor.mt.dint: 30000
sensor.mt.mode: 1
sensor.mt.pint: 3600000
sensor.mw.dint: 30000
sensor.mw.mode: 1
sensor.mw.pint: 600000
sensor.p.dint: 30000 /* p - presense sensor*/
sensor.p.mode: 2
sensor.p.pint: 1000
sensor.pc.dint: 30000 /* pc - presence counter */
sensor.pc.mode: 1
sensor.pc.pint: 3600000
sensor.rf.dint: 30000 /* rf - receive signal strength*/
sensor.rf.mode: 1
sensor.rf.pint: 3600000
sensor.t.dint: 30000 /* t - temperature */
sensor.t.mode: 1
sensor.t.pint: 3600000
sensor.v.dint: 30000 /* v- voltage */
sensor.v.mode: 1
sensor.v.pint: 3600000