MATCH (u:User {userid: "{{userid}}"})
SET
u.name = "{{name}}",
u.email = "{{email}}",
u.phone = "{{phone}}",
u.title = "{{title}}",
u.roles = "{{roles}}",
u.sites = "{{sites}}",
u.updated = timestamp()
RETURN {
userid: u.userid,
name: u.name,
email: u.email,
phone: u.phone,
title: u.title,
roles: u.roles,
sites: u.sites,
created: u.created,
updated: u.updated
} AS user
