MATCH (pz:ParkingZone)-[:BELONGS_TO]->(pg:ParkingGroup {parkinggroupid: "{{parkingroupid}}"})-[:BELONGS_TO]->(s:Site)
SET pz += { props }
RETURN {
  name: pz.name,
  type: pz.type,
  description: pz.description,
  max_spaces_num: pz.max_spaces_num,
  address: pz.address,
  length: pz.length,
  car_length: pz.car_length,
  active: head(labels(pz)) = "Active",
  bounding_box_real_world: pz.bounding_box_real_world,
  bounding_box_monitored_area: pz.bounding_box_monitored_area,
  group: { parkinggroupid: pg.parkinggroupid, parkinggroupname: pg.name },
  site: {siteid: s.siteid, sitename: s.name}
} AS parkingzone
