MERGE (o:Org {
orgid: "{{orgid}}"})
ON MATCH SET
o.name = "{{name}}",
o.type = "{{type}}",
o.street1 = "{{street1}}",
o.street2 = "{{street2}}",
o.city = "{{city}}",
o.state = "{{state}}",
o.postal_code = "{{postal_code}}",
o.country = "{{country}}",
o.contact_email = "{{contact_email}}",
o.contact_phone = "{{contact_phone}}",
o.contact_name = "{{contact_name}}"

WITH o
OPTIONAL MATCH (o)-[:IS_CUSTOMER_OF]->(po:Org)
RETURN {
orgid: o.orgid,
name: o.name,
type: o.type,
street1: o.street1,
street2: o.street2,
city: o.city,
state: o.state,
postal_code: o.postal_code,
country: o.country,
contact_email: o.contact_email,
contact_phone: o.contact_phone,
contact_name: o.contact_name,
po: po.orgid
} AS org
