MATCH (f:Firmware {firmwareid: "{{firmwareid}}"})
SET
    f.name = "{{name}}",
    f.release = "{{release}}",
    f.released = {{released}},
    f.commit = "{{commit}}",
    f.deprecated = {{deprecated}},
    f.version = "{{release}}.{{commit}}",
    f.checksum = "{{checksum}}",
    f.builder = "{{builder}}",
    f.build_date = "{{build_date}}",
    f.image_size = {{image_size}}
RETURN {
    firmwareid: f.firmwareid,
    name: f.name,
    release: f.release,
    released: f.released,
    commit: f.commit,
    deprecated: f.deprecated,
    version: f.version,
    checksum: f.checksum,
    builder: f.builder,
    build_date: f.build_date,
    image_size: f.image_size
} AS firmware
