@font-face {
  font-family: 'Gotham-Medium';
  src: url('fonts/Gotham-Medium.eot');
  src: url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/Gotham-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NHaasGroteskDSPro-55Rg';
  src: url('fonts/NHaasGroteskDSPro-55Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NHaasGroteskDSPro-65Md';
  src: url('fonts/NHaasGroteskDSPro-65Md.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NHaasGroteskDSPro-75Bd';
  src: url('fonts/NHaasGroteskDSPro-75Bd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
