.parking-space{

  &-details{
    border-top: 1px solid $grey !important;
    padding-top: 30px;
    height:280px;
  }
  &-view{

  }

  &-detail{
    padding-bottom: 21px;
    border-bottom: 1px solid #808080;
    margin-bottom: 22px;
    //width: 334px;
    .col-sm-6{
      padding: 0 !important;
    }
  }

  &-type{
    position: relative;
    bottom: 4px;
    left: 3px;
    font-size: 15px;
    font-family: NeueHaasGroteskTextW01;
  }

  &-detail-header{
    position: relative;
    top: 13px;
    left: 12px;
    font-size: 24px;
    border-bottom: 1px solid black;
    width: 98%;
    margin-bottom: 37px;
    padding-bottom: 22px;
  }

  &-group{
    margin-bottom:30px;
  }

  &-group:first-child{
    border-bottom:1px solid #808080;
  }
  &-label{
    margin-top: 0;
    font-family:NHaasGroteskDSW01-75Bd;

  }

  &-value{
    padding-left:none !important;
  }

  &-details:first-child{
    height: 125px;
  }

  &-checkbox-list{
    display: -webkit-box;
    list-style-type: none;
    padding-left: 0;
    li{
        padding-right: 9px;
    }
    span{
      padding-left: 5px;
      padding-right: 5px;
      top:0px;
    }

    input[type="radio"]{
      top:6px;
    }
  }

  &-sets{
    margin: 10px 0 91px 0;
  }

  &-set{
    margin-bottom: 18px;
    padding:0 20px 0 20px;
  }

  &-rename-list{

    height: 150px;
    width: 518px;
    overflow-y:  scroll;
    border: 1px solid #c4c4ce;
    //margin-left: 16px;
    list-style-type:none;
    padding-left:3px;

  }

  &-radio-label{
    position: relative;
    bottom: 7px;
    padding-left: 3px;
  }

  &-input{
    border-left: 1px solid #d8dada !important;
    width: 100% !important;
    border-right: 1px solid #d8dada !important;
    border-top: 1px solid #d8dada !important;
    border-bottom: 1px solid #0a0a0a !important;
  }

   &-map-name{
     width: 80px;
     padding: 3px;
     font-size: 15px;
     font-weight: 400;
   }

  &-buttons-section{

  }
}

#parkingSpotName{
   background:  url(/imgs/new-icons/edit.svg) no-repeat;
   background-position:right top;
   cursor:  pointer;
   padding:0 19px 5px 0;
   width:90%;
  font-size:22px;
   margin-bottom: 10px;
   border-bottom:none;
 }

#parkingSpotName:focus {
  border-bottom:1px solid black;
  border-top:1px solid grey;
  border-right:1px solid grey;
  border-left:1px solid grey;
  background:  none;
  padding-top:8px;
  padding-left:8px;

}

.ns-demarcated-icon{
  background: url(/imgs/new-icons/demarcated-non-demarcated.png) no-repeat;
}

.one{
  position: relative;
  right: 328px;
  top: 37px;
  margin-bottom: 48px;

  input[type="checkbox"]{
    //width: 20px !important;
    //height: 20px !important;
    top: 4px;

  }
}

#parkingspace-modal{
  .modal-dialog{
    width:576px !important;
  }

  h5{
    font-size: 18px;
    padding:0 20px;
    margin:15px 0;
  }
  .type{
    font-size: 12px;
    font-family: NeueHaasGroteskTextW01;
    margin-left: 20px;

  }
  .group-name{
    padding-right: 1px;
    padding-left: 31px !important;
    border-bottom: 1px solid grey;
    margin: 7px 15px 27px 15px;
    width: 96.3%;
    padding-bottom: 20px;

  }

  input[type="checkbox"]{
    width: 20px !important;
    height: 20px !important;
    top: 4px;

  }

  input[type="checkbox"]:checked:after {
    width: 20px !important;
    height: 20px !important;
    font-size: 125%;
    line-height: 18.5px;
  }

}