{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./_build/default/plugins/gpb/include"}
]}.

{minimum_otp_vsn, "19.3"}.

{deps, [
    {lager, "3.5.1"},
    {msgpack, "0.6.0"},
    {rabbit_common, "3.6.9"},
    {amqp_client, "3.6.9"},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.5"}}},
    {gpb, "3.26.4"},
    {gen_leader, "0.1.0"},
    {gproc, "0.6.1"},
    {meck, "0.8.4"},
    {gun, "1.0.0-pre.1"},
    {observer_cli, "1.1.0"},
    {recon, "2.3.2"},
    {exometer_core, "1.5.2"},
    {erlcloud, "2.2.4"},
    {jsx, "2.8.2"},
    {elb, "1.0.0"}
]}.

{src_dirs, [
    "src",
    "src/messages",
    "src/rabbit"
]}.

{relx, [
    {release, {"legacy", "1.0.0"}, [legacy]},
    {vm_args, "./config/vm.args"},
    {sys_config, "./config/sys.config"},
    {extended_start_script, true},
    {include_src, false}
]}.

{plugins, [
    rebar3_gpb_plugin,
    rebar_alias,
    rebar3_run
]}.

{gpb_opts, [
    {i, "priv/proto"},
    {module_name_suffix, "_pb"},
    {o_erl, "src/messages"},
    {strings_as_binaries, true},
    type_specs]
}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{alias, [
    {test, [eunit, {ct, "-v"}]},
    {start, [{shell, "--name legacy@127.0.0.1 2> /dev/null"}]}
]}.

{ct_opts, [{config, "config/ct.config"}]}.
{ct_readable, false}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
