<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{35}) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>microservices/device-sample/logs/logFile.html</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>microservices/device-sample/logs/logFile.%d{yyyy-MM-dd}.%i.html</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%d{HH:mm:ss.SSS}%thread%level%logger%line%msg</pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="org.apache.kafka.clients.consumer.KafkaConsumer" level = "INFO" />
    <logger name="org.apache.kafka.clients.consumer.internals.Fetcher" level = "INFO" />
    <logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level = "INFO" />
    <logger name="org.apache.kafka.clients.NetworkClient" level = "ERROR" />
    <logger name="com.datastax.driver.core.Connection" level = "INFO" />
    <logger name="org.apache.kafka.clients.consumer.internals.AbstractCoordinator" level = "INFO" />
    <logger name="org.apache.kafka.common.metrics.Metrics" level = "INFO" />
    <logger name="org.apache.kafka.clients.producer.KafkaProducer" level = "INFO" />
    <logger name="org.apache.kafka.common.network.Selector" level = "INFO" />
    <logger name="org.apache.kafka.clients.Metadata" level = "INFO" />
    <logger name="org.apache.kafka.clients.producer.internals.Sender" level = "INFO" />

    <logger name="org.apache.zookeeper.server.FinalRequestProcessor" level = "INFO" />

    <logger name="org.apache.kafka.log.Log" level = "ERROR" />
    <logger name="org.apache.kafka.log.TimeIndex" level = "INFO" />
    <logger name="org.apache.kafka.log.LogManager" level = "INFO" />
    <logger name="org.apache.kafka.controller.KafkaController" level = "INFO" />
    <logger name="org.apache.zookeeper.ClientCnxn" level = "INFO" />
    <logger name="org.apache.zookeeper.Zookeeper" level = "INFO" />
    <logger name="org.apache.zookeeper.server.PrepRequestProcessor" level = "ERROR" />
    <logger name="org.I0Itec.zkclient.ZkClient" level = "INFO" />
    <logger name="org.apache.kafka.utils.ZkUtils" level = "INFO" />

    <logger name="org.apache.kafka.server.KafkaRequestHandler" level = "INFO" />
    <logger name="org.apache.kafka.network.Processor" level = "INFO" />
    <logger name="org.apache.kafka.controller.PartitionStateMachine" level = "INFO" />
    <logger name="org.apache.kafka.utils.KafkaScheduler" level = "INFO" />
    <logger name="org.apache.kafka.server.ReplicaManager" level = "INFO" />
    <logger name="org.apache.kafka.cluster.Partition" level = "INFO" />


    <logger name="com.outworkers.phantom" level="DEBUG" />

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>