{legacy, [
    {'keepalive', 9999999},
    {rabbitmq, []},
    {s3, []},
    {ota, []},
    {metrics, []}
]}.

{lager, [
    {colored, true},
    {handlers, [
        {lager_console_backend, [
            {level, info},
            {formatter_config,
                [
                    color, time, " ", pid, " [", severity,"]",  {nodeid, [" [", nodeid, "]"], ""}, " [",
                    {module, ""}, {function, [":", function], ""}, {line, [":", line], ""}, "] ",
                    message, "\e[0m\r\n"
                ]
            }
        ]}
    ]}
]}.
