{sub_dirs, [
    "rel1"
]}.


{eunit_opts, [verbose, {skip_deps, true}]}.  
{eunit_exclude_deps, true}.  
{cover_enabled, true}.

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "ct"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "ct/logs"}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-boot start_sasl -s myapp"}.

%% Option to use short names (i.e., -sname test) when starting ct
{ct_use_short_names, true}.

{deps, [
    %{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}},
    %{cowboy, ".*", {git, "git://github.com/extend/cowboy", {tag, "0.9.0"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy", "1.0.2"}},
    {gpb,".*",{git, "git://github.com/tomas-abrahamsson/gpb.git", {branch, "master"}}},
    %{gpb-bindings,".*",{git, "git://github.com/squidfunk/gpb-bindings.git", {branch, "master"}}},
    %{websocket_client, ".*",{git, "git://github.com/jeremyong/websocket_client.git", {branch, "master"}}},
    {protobuffs,".*",{git, "git://github.com/basho/erlang_protobuffs.git",{branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
    %{gen_smtp, ".*", {git, "git//github.com/Vagabond/gen_smtp.git", "master"}},
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
    {emqttc, ".*", {git, "git://github.com/emqtt/emqttc.git", "master"}},
    %{erlcron, ".*", {git, "git://github.com/erlware/erlcron.git", "master"}},
    {erlcloud, ".*", {git, "git://github.com/erlcloud/erlcloud.git", "master"}},
    {msgpack, ".*",{git, "git://github.com/msgpack/msgpack-erlang.git", "master"}}
]}.

%% -*- erlang -*-
{pre_hooks,
 [{compile, "mkdir -p include"}, %% ensure the include dir exists
   {compile,
   "erl +B -noinput -pa deps/gpb/ebin "
   "    -I`pwd`/proto -o-erl src/pb -o-hrl include "
   "    -s gpb_compile c `pwd`/proto/*.proto"
  }]}.


{post_hooks,
 [{clean,
   "bash -c 'for f in proto/*.proto; "
   "do "
   "  rm -f src/$(basename $f .proto).erl; "
   "  rm -f include/$(basename $f .proto).hrl; "
   "done'"}
 ]}.

{erl_opts, [{i, "deps/gpb/include"},{eunit_opts, [verbose]}]}.
