{release, {legacy_bridge, "1"}, [legacy_bridge, syntax_tools, compiler]}.
{extended_start_script, true}.

{sys_config, "rel/sys.config"}.
{app_config, "rel/app.config"}.
 
{overlay, [
    {copy, "rel/vm.args", "releases/\{\{release_name\}\}-\{\{release_version\}\}/vm.args"},
    {copy, "rel/vm.args", "releases/\{\{release_version\}\}/vm.args"}
]}.

