[
   {lager, [
        {log_root, "log"}
        ,{handlers, [
            {
                lager_console_backend
                ,[
                    debug
                    ,{lager_default_formatter
                        ,[
                            time
                            ,{pid, [" (", pid, ")"], [""]}
                            ," [", severity, "]"
                            ,{function, [" ", function, " |"], [""]}
                            ,{module, [" ", module], ""}
                            ,{line, [":", line], ""}
                            ," - ", message, "\n"
                        ]
                    }
                ]
            }
            ,{lager_file_backend, [
                {file, "error.log"}
                ,{level, error}
            ]}
        ]}
    ]}
].
