{sub_dirs, [
    "rel"
]}.

{eunit_opts, [verbose, {skip_deps, true}]}.  
{eunit_exclude_deps, true}.  
{cover_enabled, true}.

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "ct"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "ct/logs"}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-boot start_sasl -s myapp"}.

%% Option to use short names (i.e., -sname test) when starting ct
{ct_use_short_names, true}.

{deps, [
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}},
    {gpb,".*",{git, "git://github.com/tomas-abrahamsson/gpb.git", {branch, "master"}}},
    %{gproc,".*",{git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
    %{gun, ".*",{git, "git://github.com/ninenines/gun", {branch, "master"}}},
    %{wsecli, ".*", {git, "https://github.com/madtrick/wsecli", {tag, master}}}
    {websocket_client, ".*",{git, "git://github.com/jeremyong/websocket_client.git", {branch, "master"}}}
]}.

%% -*- erlang -*-
{pre_hooks,
 [{compile, "mkdir -p include"}, %% ensure the include dir exists
   {compile,
   "erl +B -noinput -pa deps/gpb/ebin "
   "    -I`pwd`/proto -o-erl src -o-hrl include "
   "    -s gpb_compile c `pwd`/proto/*.proto"
  }]}.


  %{compile,
  % "deps/gpb/bin/protoc-erl -I`pwd`/proto"
  % "-o-erl src -o-hrl include `pwd`/proto/*.proto"
  %}]}.

{post_hooks,
 [{clean,
   "bash -c 'for f in proto/*.proto; "
   "do "
   "  rm -f src/$(basename $f .proto).erl; "
   "  rm -f include/$(basename $f .proto).hrl; "
   "done'"}
 ]}.

{erl_opts, [{i, "deps/gpb/include"},{eunit_opts, [verbose]},debug_info]}.
