[
    {device_service, [
        {host, "127.0.0.1"}
        ,{zmqdealer, "tcp://127.0.0.1:6542"} %% listener
        ,{reqaddr, "tcp://127.0.0.1:6531"} %% sends messages
        ,{haproxy, "127.0.0.1"}
        ,{mqtt, [
            {host, "mqtt.sensity.com"}
            ,{port, 2883}
            ,{username, "mqtt_user"}
            ,{pwd, "WZDRw8S9p3s#5&b2=9#bT5^fgUv=eFa"}
            ,{loglevel, warning}
            ,{reconnect, {2, 120, infinity}}
            ,{keepalive, 180}
            ,{cmd_client_id, "video_command_center"}
            ,{ssl, [
                {certfile, "/var/lib/ssl/sensity.com.crt"}
                ,{keyfile,  "/var/lib/ssl/sensity.com.key"}
                ,{cacertfile, "/var/lib/ssl/sensity.ca.crt"}
            ]}
        ]},
        {metrics, [
            {interval, 30000},
            {graphite, [
                {prefix, "dcc_stats"}, %% graphite_prefix
                {host, "127.0.0.1"}, %% graphite_service
                {port, 2003}, %% graphite_port
                {api_key, ""}
            ]}
        ]}
    ]}
    ,{lager, [
        {log_root, "/var/log/dcc"}
        ,{crash_log, "crash.log"}
        ,{handlers, [
            {lager_console_backend, [
                {level, info}, %% stdout_level
                {formatter_config,
                    [
                        "[", date, " ", time, "] ", pid, " [", severity,"]",  {nodeid, [" [", nodeid, "]"], ""}, " [",
                        {module, ""}, {function, [":", function], ""}, {line, [":", line], ""}, "] ", message, "\n"
                    ]
                }
            ]},
            {lager_stderr_backend, [
                {level, error}, %% stderr_level
                {formatter_config,
                    [
                        "[", date, " ", time, "] ", pid, " [", severity,"]",  {nodeid, [" [", nodeid, "]"], ""}, " [",
                        {module, ""}, {function, [":", function], ""}, {line, [":", line], ""}, "] ", message, "\n"
                    ]
                }
            ]}
        ]}
    ]}
].
