[
    {ssl_options, [{reuse_sessions, false}]},
    {legacy, [
        {publisher_pool, publisher_pool},
        {keepalive, 180000},
        {rabbitmq, [
            {host, "{{rabbit.local-ip}}"},
            {username, "{{rmq-username}}"},
            {password, "{{rmq-password}}"},
            {timeout, 5000},
            {exchanges, [
                [{name, "node.commands"}, {type, "topic"}],
                [{name, "node.events"}, {type, "topic"}]
            ]},
            {pub_pools, [
                {publisher_pool, [
                    {size, 10},
                    {max_overflow, 0}
                ]}
            ]},
            {sub_pools, [
                {node_cmd_subscriber_pool, [
                    {size, 1},
                    {max_overflow, 0}
                ], [
                    {exchange, "node.commands"},
                    {key, "#"},
                    {queue, "legacy"},
                    {msg_handler, legacy_cmd_handler}
                ]}
            ]}
        ]},
        {s3, [
            {key, "AKIAJHXVVJ2KABYSEUTA"},
            {secret, "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"},
            {host, "s3-us-west-2.amazonaws.com"}
        ]},
        {ota, [
            {host, "{{legacy.external-ip}}"}, %% ota
            {bucket, "sensity-firmware"},
            {workers, 10}
        ]},
        {metrics, [
            {interval, 5000},
            {graphite, [
                {'prefix', "legacy"},
                {'host', "{{graphite.local-ip}}"},
                {'port', 2003},
                {'api_key', ""}
            ]}
        ]}
    ]},
    {gproc,[
        {gproc_dist, ['legacy@10.0.8.2']}
    ]},
    {lager, [
        {log_root, "/var/log/legacy"},
        {crash_log, "crash.log"},
        {colored, true},
        {handlers, [
            {lager_console_backend, [
                warning,
                {lager_default_formatter,
                    [
                        color, time, " ", pid, " [", severity,"]",  {nodeid, [" [", nodeid, "]"], ""}, " [",
                        {module, ""}, {function, [":", function], ""}, {line, [":", line], ""}, "] ",
                        message, "\e[0m\r\n"
                    ]
                }
            ]}
            ,{lager_file_backend, [
                {file, "debug.log"},
                {level, info},
                {size, 52428800},
                {date, "$D0"},
                {count, 5},
                {formatter, lager_default_formatter},
                {formatter_config,
                    [
                        time, " ", pid, " [", severity,"]",  {nodeid, [" [", nodeid, "]"], ""}, " [",
                        {module, ""}, {function, [":", function], ""}, {line, [":", line], ""}, "] ",
                        message, "\n"
                    ]
                }
          ]}
        ]}
    ]}
].
