{:development {:host ["127.0.0.1"]
               :port 9092
               :group "acl-producer-1"
               :topic "api.reply.interface"}
 :production {:host ["127.0.0.1"]
              :port 9092
              :group "acl-producer-1"
              :topic "api.reply.interface"}
 :test       {:host ["127.0.0.1"]
              :port 9092
              :group "acl-producer-1"
              :topic "api.reply.interface"}
 :docker     {:host ["kafka_service"]
              :port 9092
              :group "acl-producer-1"
              :topic "api.reply.interface"}}
