{:development {:host ["127.0.0.1"]
               :port 9092
               :group "capeworker-1"
               :va-group "vaworker"
               :schedule-topic "ms.request.schedule"
               :trigger-topic "ms.trigger.schedule"
               :device-topic-out "node.command"
               :device-topic-event "va.node.evt"
               :device-topic-config "va.node.cfg"
               :trigger-lux-topic "trigger_lux"
               :presence-topic "presence"
               :driver-level-topic "driver_level"
               :ambient-light-topic "ambient_light"
               :topic "dd.capeworker.out"}
 :production {:host ["127.0.0.1"]
              :port 9092
              :group "capeworker-1"
              :va-group "vaworker"
              :schedule-topic "ms.request.schedule"
              :trigger-topic "ms.trigger.schedule"
              :device-topic-out "node.command"
              :device-topic-event "va.node.evt"
              :device-topic-config "va.node.cfg"
              :trigger-lux-topic "trigger_lux"
              :presence-topic "presence"
              :driver-level-topic "driver_level"
              :ambient-light-topic "ambient_light"
              :topic "dd.capeworker.out"}
 :test       {:host ["127.0.0.1"]
              :port 9092
              :group "capeworker-1"
              :va-group "vaworker"
              :schedule-topic "ms.request.schedule"
              :trigger-topic "ms.trigger.schedule"
              :device-topic-out "node.command"
              :device-topic-event "va.node.evt"
              :device-topic-config "va.node.cfg"
              :trigger-lux-topic "trigger_lux"
              :presence-topic "presence"
              :driver-level-topic "driver_level"
              :ambient-light-topic "ambient_light"
              :topic "dd.capeworker.out"}
 :docker     {:host ["kafka_service"]
              :port 9092
              :group "capeworker-1"
              :va-group "vaworker"
              :schedule-topic "ms.request.schedule"
              :trigger-topic "ms.trigger.schedule"
              :device-topic-out "node.command"
              :device-topic-event "va.node.evt"
              :device-topic-config "va.node.cfg"
              :trigger-lux-topic "trigger_lux"
              :presence-topic "presence"
              :driver-level-topic "driver_level"
              :ambient-light-topic "ambient_light"
              :topic "dd.capeworker.out"}}
