{:test {
    :host "tcp://127.0.0.1:3002"
    :client-id "data-dealer"}
 :development {
    :host "tcp://127.0.0.1:3002"
    :client-id "data-dealer"}
 :production {
    :host "tcp://127.0.0.1:3002"
    :client-id "data-dealer"}
 :docker {
    :host "tcp://mqtt_service:1883"
    :client-id "data-dealer"}}
