{; Micronode (v2)
 :sensor-config-defaults-v2
  {:sensor.rf.pint 3600000
   :sensor.rf.dint 30000
   :sensor.rf.mode 1
   :sensor.v.pint 3600000
   :sensor.v.dint 30000
   :sensor.v.mode 1
   :sensor.w.pint 3600000
   :sensor.w.dint 30000
   :sensor.w.mode 1
   :sensor.P.pint 3600000
   :sensor.P.dint 30000
   :sensor.P.mode 1
   :sensor.PF.pint 3600000
   :sensor.PF.dint 30000
   :sensor.PF.mode 1
   :sensor.pc.pint 3600000
   :sensor.pc.dint 30000
   :sensor.pc.mode 1
   :sensor.i.pint 3600000
   :sensor.i.dint 30000
   :sensor.i.mode 1
   :sensor.lIR.pint 3600000
   :sensor.lIR.dint 30000
   :sensor.lIR.mode 1
   :sensor.l.pint 3600000
   :sensor.l.dint 30000
   :sensor.l.mode 1
   :sensor.p.pint 1000
   :sensor.p.dint 5000
   :sensor.p.mode 2
   :sensor.t.pint 3600000
   :sensor.t.dint 30000
   :sensor.t.mode 1
   :sensor.T.pint 3600000
   :sensor.T.dint 30000
   :sensor.T.mode 1
   :network.telnet true
   :sensor.pdc.pint 3600000
   :sensor.pdc.dint 30000
   :sensor.pdc.mode 1
   :sensor.ppr.pint 3600000
   :sensor.ppr.dint 30000
   :sensor.ppr.mode 1
   :sensor.pnd.pint 3600000
   :sensor.pnd.dint 30000
   :sensor.pnd.mode 1
   :sensor.pdt.pint 3600000
   :sensor.pdt.dint 30000
   :sensor.pdt.mode 1
   :aux.power true}

; Hummingbird (v3)
 :sensor-config-defaults-v3
  {:sensor.T.dint 30000
   :sensor.T.mode 1
   :sensor.T.pint 3600000
   :sensor.aPF.dint 30000
   :sensor.aPF.mode 1
   :sensor.aPF.pint 3600000
   :sensor.ai.dint 30000
   :sensor.ai.mode 1
   :sensor.ai.pint 3600000
   :sensor.aw.dint 30000
   :sensor.aw.mode 1
   :sensor.aw.pint 3600000 ; 2.0 => 60000
   :sensor.l.dint 30000
   :sensor.l.mode 1
   :sensor.l.pint 3600000
   :sensor.lIR.dint 30000
   :sensor.lIR.mode 1
   :sensor.lIR.pint 3600000
   :sensor.mPF.dint 30000
   :sensor.mPF.mode 1
   :sensor.mPF.pint 3600000
   :sensor.mi.dint 30000
   :sensor.mi.mode 1
   :sensor.mi.pint 3600000
   :sensor.mt.dint 30000
   :sensor.mt.mode 1
   :sensor.mt.pint 3600000
   :sensor.mw.dint 30000
   :sensor.mw.mode 1
   :sensor.mw.pint 3600000 ; 2.0 => 60000
   :sensor.p.dint 5000
   :sensor.p.mode 2
   :sensor.p.pint 1000
   :sensor.pc.dint 30000
   :sensor.pc.mode 1
   :sensor.pc.pint 3600000
   :sensor.rf.dint 30000
   :sensor.rf.mode 1
   :sensor.rf.pint 3600000
   :sensor.t.dint 30000
   :sensor.t.mode 1
   :sensor.t.pint 3600000
   :sensor.v.dint 30000
   :sensor.v.mode 1
   :sensor.v.pint 3600000
   :sensor.vp.dint 30000  ; 2.0 Does not current send 'vp'
   :sensor.vp.mode 1
   :sensor.vp.pint 3600000
   :sensor.aP.dint 30000
   :sensor.aP.mode 1
   :sensor.aP.pint 3600000
   :sensor.mP.dint 30000
   :sensor.mP.mode 1
   :sensor.mP.pint 3600000
   :sensor.mip.dint 30000
   :sensor.mip.mode 1
   :sensor.mip.pint 3600000
   :sensor.aip.dint 30000
   :sensor.aip.mode 1
   :sensor.aip.pint 3600000
   :network.telnet true
   :sensor.pdc.pint 3600000
   :sensor.pdc.dint 30000
   :sensor.pdc.mode 1
   :sensor.ppr.pint 3600000
   :sensor.ppr.dint 30000
   :sensor.ppr.mode 1
   :sensor.pnd.pint 3600000
   :sensor.pnd.dint 30000
   :sensor.pnd.mode 1
   :sensor.pdt.pint 3600000
   :sensor.pdt.dint 30000
   :sensor.pdt.mode 1
   :sensor.jt.pint 30000
   :sensor.jt.dint 3600000
   :sensor.jt.mode 3
   :sensor.rlym.pint 86400000
   :lctrl.trigger.ont 5000
   :lctrl.trigger.offt 100000
   :lctrl.trigger.on.dint 5000
   :lctrl.trigger.off.dint 300000
   :lctrl.trigger.nonett 300
   :sensor.a.jdelta 200
   :sensor.trgl.mode 3}

 ; Roadrunner (v4)
 :sensor-config-defaults-v4
  {:sensor.T.dint 30000
   :sensor.T.mode 1
   :sensor.T.pint 3600000
   :sensor.aPF.dint 30000
   :sensor.aPF.mode 1
   :sensor.aPF.pint 3600000
   :sensor.ai.dint 30000
   :sensor.ai.mode 1
   :sensor.ai.pint 3600000
   :sensor.aw.dint 30000
   :sensor.aw.mode 1
   :sensor.aw.pint 3600000 ; 2.0 => 60000
   :sensor.l.dint 30000
   :sensor.l.mode 1
   :sensor.l.pint 3600000
   :sensor.lIR.dint 30000
   :sensor.lIR.mode 1
   :sensor.lIR.pint 3600000
   :sensor.mPF.dint 30000
   :sensor.mPF.mode 1
   :sensor.mPF.pint 3600000
   :sensor.mi.dint 30000
   :sensor.mi.mode 1
   :sensor.mi.pint 3600000
   :sensor.mt.dint 30000
   :sensor.mt.mode 1
   :sensor.mt.pint 3600000
   :sensor.mw.dint 30000
   :sensor.mw.mode 1
   :sensor.mw.pint 3600000 ; 2.0 => 60000
   :sensor.p.dint 5000
   :sensor.p.mode 2
   :sensor.p.pint 1000
   :sensor.pc.dint 30000
   :sensor.pc.mode 1
   :sensor.pc.pint 3600000
   :sensor.rf.dint 30000
   :sensor.rf.mode 1
   :sensor.rf.pint 3600000
   :sensor.t.dint 30000
   :sensor.t.mode 1
   :sensor.t.pint 3600000
   :sensor.v.dint 30000
   :sensor.v.mode 1
   :sensor.v.pint 3600000
   :sensor.vp.dint 30000  ; 2.0 Does not current send 'vp'
   :sensor.vp.mode 1
   :sensor.vp.pint 3600000
   :sensor.aP.dint 30000
   :sensor.aP.mode 1
   :sensor.aP.pint 3600000
   :sensor.l-i.dint 30000
   :sensor.l-i.mode 1
   :sensor.l-i.pint 3600000
   :sensor.lIR-i.dint 30000
   :sensor.lIR-i.mode 1
   :sensor.lIR-i.pint 3600000
   :sensor.mP.dint 30000
   :sensor.mP.mode 1
   :sensor.mP.pint 3600000
   :sensor.mip.dint 30000
   :sensor.mip.mode 1
   :sensor.mip.pint 3600000
   :sensor.aip.dint 30000
   :sensor.aip.mode 1
   :sensor.aip.pint 3600000
   :network.telnet true
   :sensor.podm.dint 30000
   :sensor.podm.mode 1
   :sensor.podm.pint 14400000
   :sensor.podme.dint 30000
   :sensor.podme.mode 1
   :sensor.podme.pint 14400000
   :sensor.jt.pint 30000
   :sensor.jt.dint 3600000
   :sensor.jt.mode 3
   :sensor.rlym.pint 86400000
   :podbus.disable 0
   :aux.power true
   :lctrl.trigger.ont 5000
   :lctrl.trigger.offt 100000
   :lctrl.trigger.on.dint 5000
   :lctrl.trigger.off.dint 300000
   :lctrl.trigger.nonett 300
   :sensor.a.jdelta 200
   :sensor.trgl.mode 3}

 ; Carrier Pigeon (v5)
 :sensor-config-defaults-v5
  {:sensor.T.dint 30000
   :sensor.T.mode 1
   :sensor.T.pint 3600000
   :sensor.aPF.dint 30000
   :sensor.aPF.mode 1
   :sensor.aPF.pint 3600000
   :sensor.ai.dint 30000
   :sensor.ai.mode 1
   :sensor.ai.pint 3600000
   :sensor.aw.dint 30000
   :sensor.aw.mode 1
   :sensor.aw.pint 3600000 ; 2.0 => 60000
   :sensor.l.dint 30000
   :sensor.l.mode 1
   :sensor.l.pint 3600000
   :sensor.lIR.dint 30000
   :sensor.lIR.mode 1
   :sensor.lIR.pint 3600000
   :sensor.mPF.dint 30000
   :sensor.mPF.mode 1
   :sensor.mPF.pint 3600000
   :sensor.mi.dint 30000
   :sensor.mi.mode 1
   :sensor.mi.pint 3600000
   :sensor.mt.dint 30000
   :sensor.mt.mode 1
   :sensor.mt.pint 3600000
   :sensor.mw.dint 30000
   :sensor.mw.mode 1
   :sensor.mw.pint 3600000  ; 2.0 => 60000
   :sensor.p.dint 5000
   :sensor.p.mode 2
   :sensor.p.pint 1000
   :sensor.pc.dint 30000
   :sensor.pc.mode 1
   :sensor.pc.pint 3600000
   :sensor.rf.dint 30000
   :sensor.rf.mode 1
   :sensor.rf.pint 3600000
   :sensor.t.dint 30000
   :sensor.t.mode 1
   :sensor.t.pint 3600000
   :sensor.v.dint 30000
   :sensor.v.mode 1
   :sensor.v.pint 3600000
   :sensor.vp.dint 30000   ; 2.0 Does not current send 'vp'
   :sensor.vp.mode 1
   :sensor.vp.pint 3600000
   :sensor.aP.dint 30000
   :sensor.aP.mode 1
   :sensor.aP.pint 3600000
   :sensor.l-i.dint 30000
   :sensor.l-i.mode 1
   :sensor.l-i.pint 3600000
   :sensor.lIR-i.dint 30000
   :sensor.lIR-i.mode 1
   :sensor.lIR-i.pint 3600000
   :sensor.mP.dint 30000
   :sensor.mP.mode 1
   :sensor.mP.pint 3600000
   :sensor.mip.dint 30000
   :sensor.mip.mode 1
   :sensor.mip.pint 3600000
   :sensor.aip.dint 30000
   :sensor.aip.mode 1
   :sensor.aip.pint 3600000
   :sensor.podm.dint 30000
   :sensor.podm.mode 1
   :sensor.podm.pint 14400000
   :sensor.podme.dint 30000
   :sensor.podme.mode 1
   :sensor.podme.pint 14400000
   :sensor.jt.pint 30000
   :sensor.jt.dint 3600000
   :sensor.jt.mode 3
   :sensor.rlym.pint 86400000
   :podbus.disable 0
   :aux.power true
   :lctrl.trigger.ont 5000
   :lctrl.trigger.offt 100000
   :lctrl.trigger.on.dint 5000
   :lctrl.trigger.off.dint 300000
   :lctrl.trigger.nonett 300
   :sensor.trgl.mode 3}

 ; Verizon Pigeon (v6)
 :sensor-config-defaults-v6
  {:sensor.T.dint 30000
   :sensor.T.mode 1
   :sensor.T.pint 3600000
   :sensor.aPF.dint 30000
   :sensor.aPF.mode 1
   :sensor.aPF.pint 3600000
   :sensor.ai.dint 30000
   :sensor.ai.mode 1
   :sensor.ai.pint 3600000
   :sensor.aw.dint 30000
   :sensor.aw.mode 1
   :sensor.aw.pint 3600000 ; 2.0 => 60000
   :sensor.l.dint 30000
   :sensor.l.mode 1
   :sensor.l.pint 3600000
   :sensor.lIR.dint 30000
   :sensor.lIR.mode 1
   :sensor.lIR.pint 3600000
   :sensor.mPF.dint 30000
   :sensor.mPF.mode 1
   :sensor.mPF.pint 3600000
   :sensor.mi.dint 30000
   :sensor.mi.mode 1
   :sensor.mi.pint 3600000
   :sensor.mt.dint 30000
   :sensor.mt.mode 1
   :sensor.mt.pint 3600000
   :sensor.mw.dint 30000
   :sensor.mw.mode 1
   :sensor.mw.pint 3600000  ; 2.0 => 60000
   :sensor.p.dint 5000
   :sensor.p.mode 2
   :sensor.p.pint 1000
   :sensor.pc.dint 30000
   :sensor.pc.mode 1
   :sensor.pc.pint 3600000
   :sensor.rf.dint 30000
   :sensor.rf.mode 1
   :sensor.rf.pint 3600000
   :sensor.t.dint 30000
   :sensor.t.mode 1
   :sensor.t.pint 3600000
   :sensor.v.dint 30000
   :sensor.v.mode 1
   :sensor.v.pint 3600000
   :sensor.vp.dint 30000   ; 2.0 Does not current send 'vp'
   :sensor.vp.mode 1
   :sensor.vp.pint 3600000
   :sensor.aP.dint 30000
   :sensor.aP.mode 1
   :sensor.aP.pint 3600000
   :sensor.l-i.dint 30000
   :sensor.l-i.mode 1
   :sensor.l-i.pint 3600000
   :sensor.lIR-i.dint 30000
   :sensor.lIR-i.mode 1
   :sensor.lIR-i.pint 3600000
   :sensor.mP.dint 30000
   :sensor.mP.mode 1
   :sensor.mP.pint 3600000
   :sensor.mip.dint 30000
   :sensor.mip.mode 1
   :sensor.mip.pint 3600000
   :sensor.aip.dint 30000
   :sensor.aip.mode 1
   :sensor.aip.pint 3600000
   :sensor.podm.dint 30000
   :sensor.podm.mode 1
   :sensor.podm.pint 14400000
   :sensor.podme.dint 30000
   :sensor.podme.mode 1
   :sensor.podme.pint 14400000
   :sensor.jt.pint 30000
   :sensor.jt.dint 3600000
   :sensor.jt.mode 3
   :sensor.rlym.pint 86400000
   :podbus.disable 0
   :aux.power true
   :lctrl.trigger.ont 5000
   :lctrl.trigger.offt 100000
   :lctrl.trigger.on.dint 5000
   :lctrl.trigger.off.dint 300000
   :lctrl.trigger.nonett 300}

 :sensor-name-translator
  {:vpn_on_demand    :network.vpn_on_demand
   :telnet           :network.telnet
   :networkXSSID     :network.x.ssid
   :networkXSecurity :network.x.security
   :networkXPasskey  :network.x.security.psk
   :networkYSSID     :network.y.ssid
   :networkYSecurity :network.y.security
   :networkYPasskey  :network.y.security.psk
   :sensor_l_i_dint  :sensor.l-i.dint
   :sensor_l_i_mode  :sensor.l-i.mode
   :sensor_l_i_pint  :sensor.l-i.pint
   :sensor_lIR_i_dint :sensor.lIR-i.dint
   :sensor_lIR_i_mode :sensor.lIR-i.mode
   :sensor_lIR_i_pint :sensor.lIR-i.pint}

 :sensor-config-defaults
  {:network.vpn_on_demand false
   :network.region "US"
   :debugmode true
   :ota.disable false
   :lctrl.dimmer.vmax 10000}
 }
