[
  %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},

  %% Lager config
  {lager, [
    {handlers,
      [
        {lager_console_backend, info},
        {lager_file_backend,
          [
            {"log/error.log",     error, 104857600, "$D0", 5},
            {"log/timing.log",    none,  104857600, "$D0", 5},
            {"log/legacy_bridge.log", info,  104857600, "$D0", 5}
          ]}
      ]}
  ]},

  %% En config
  {legacy_bridge, [
    {profile,         false},
    {listen_port,     8080},
    {listener_count,  1000},
    {max_connections, 100000},
    {static_html_dir, "/docs/"}
    %{min_sync_time, 600}, % In Seconds
    %% Concurrency limits
    %{cxy_limits, []},

    %% Cache configs (only one of gen_time or gen_count per cache)...
    %{auth_cache, [{history_window,               1000},
    %  {generation_time_micros,  300000000}
    %]},
    %{spam_cache, [{history_window,               1000},
    %  {generation_time_micros,  1800000000}
    %]},
  ]}
].
